
.hero-container{
    display: flex;
    width:100%;
    padding:5em;

    
}
.building-text{
width: 818px;
height: 285px;
left: 220px;
top: 270px;
font-family: 'Circular Std';
font-style: normal;
font-weight: 700;
font-size: 85px;
line-height: 95px;
/* or 112% */
color: #272D4E;
text-align: left;
}


.featured-image img {
  width:100%;
  z-index: 99;
}

.hero-text {
    width: 716px;
    height: 50px;
    left: 220px;
    top: 584px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    /* or 139% */
    color: #94A2B3;
    text-align: left;

}

.btn-txt-container{
    text-align: left;
}

.hero-button {
    width: 260px;
    height: 72px;
    left: 216px;
    top: 665px;
    background: #7854F7;
    border-color: #7854F7;
    border-radius: 70px;
    color: white;
}

.btn-side-text{
    width: 199px;
    height: 25px;
    margin-right: -250px;
    top: 689px;
    float: right;   
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height, or 139% */
    color: #94A2B3;
    margin-top: 20px;

}

.text-span{
    color: #299EF3;
}

@media screen and (max-width: 990px) {
    .gpt3__blog-container {
        flex-direction: column-reverse;
    }


    .gpt3__blog-container_groupA {
        margin: 2rem 0;
    }

    .gpt3__blog-container_groupA .gpt3__blog-container_article  {
       width: 48%;
    }

    .gpt3__blog-container_groupA .gpt3__blog-container_article-image {
        height: 250px;
    }
}

@media screen and (max-width: 700px) {
    .gpt3__blog-container_groupB {
        grid-template-columns: repeat(1, 1fr);
    }

    .gpt3__blog-container_groupA .gpt3__blog-container_article  {
       width: 100%;
    }

    .gpt3__blog-heading h1 {
        font-size: 46px;
        line-height: 52px;
    }
}

@media screen and (max-width: 550px) {
    .gpt3__blog-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

}