.dev-section {

    margin: auto;
    height: auto;
    margin-top: 700px;
    margin-bottom: 100px;
}

.img1-container {
    width: 430px;
    height: 548px;
    left: 345px;
    top: 2004px;
}

.img2-container {
    width: 430px;
    height: 548px;
    left: 1144px;
    top: 2607px;
}